.THIS {
}

  /*Caruselの要素*/
  .THIS.glyphicon-chevron-left {
    color: #008080;
  }
  .THIS.glyphicon-chevron-right {
    color: #008080;
  }

  .THIS.carousel-control.left {
    /*background-image: linear-gradient(to right, rgba(247, 245, 245, 0.5) 0, rgba(0,0,0,0.0001) 100%);*/
    background-image: linear-gradient(to right, rgba(247, 245, 245, 0) 0, rgba(0,0,0,0) 100%);
  }

  .THIS.carousel-control.right {
    /*background-image: linear-gradient(to right, rgba(0,0,0,0.0001) 0, rgba(247, 245, 245,0.5) 100%);*/
    background-image: linear-gradient(to right, rgba(247, 245, 245, 0) 0, rgba(0,0,0,0) 100%);
  }

  .THIS.carousel-indicators {
    bottom: 2px;
  }
  .THIS.carousel-indicators li {
    border: 1px solid #008080;
    opacity: 0.5;
  }

  .THIS.carousel-indicators .active {
    background-color: #008080;
    opacity: 0.5;
  }

  @media screen and (max-width: 480px) {
  .THIS.div-carusel {
    height: 215px;
  }
  .THIS.img-card {
     max-height: 210px;
     height:100%;
     width:auto;
  }
  }

@media screen and (min-width: 480px) {
  .THIS.div-carusel {
    height: 305px;
  }
  .THIS.img-card {
     max-height: 300px;
     height:100%;
     width:auto;
  }
}

.THIS .slick-slider
{
    position: relative;

    display: block;
    box-sizing: border-box;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.THIS .slick-list
{
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}
.THIS .slick-list:focus
{
    outline: none;
}
.THIS .slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.THIS .slick-slider .slick-track,
.THIS .slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.THIS .slick-track
{
    position: relative;
    top: 0;
    left: 0;

    display: block;
}
.THIS .slick-track:before,
.THIS .slick-track:after
{
    display: table;

    content: '';
}
.THIS .slick-track:after
{
    clear: both;
}
.THIS .slick-loading .slick-track
{
    visibility: hidden;
}

.THIS .slick-slide
{
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;
}
/*[dir='rtl'] .THIS .slick-slide
{
    float: right;
}*/
.THIS .slick-slide img
{
    display: block;
}
.THIS .slick-slide .slick-loading img
{
    display: none;
}
.THIS .slick-slide.dragging img
{
    pointer-events: none;
}
.THIS .slick-initialized .slick-slide
{
    display: block;
}
.THIS .slick-loading .slick-slide
{
    visibility: hidden;
}
.THIS .slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}
.THIS .slick-arrow .slick-hidden {
    display: none;
}

@charset 'UTF-8';
/* Slider */
.THIS .slick-loading .slick-list
{
    background: #fff url('./ajax-loader.gif') center center no-repeat;
}

/* Icons */
@font-face
{
    font-family: 'slick';
    font-weight: normal;
    font-style: normal;

    src: url('./fonts/slick.eot');
    src: url('./fonts/slick.eot?#iefix') format('embedded-opentype'), url('./fonts/slick.woff') format('woff'), url('./fonts/slick.ttf') format('truetype'), url('./fonts/slick.svg#slick') format('svg');
}
/* Arrows */
.THIS .slick-prev,
.THIS .slick-next
{
    font-size: 0;
    line-height: 0;

    position: absolute;
    top: 50%;

    display: block;

    width: 20px;
    height: 20px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);

    cursor: pointer;

    color: transparent;
    border: none;
    outline: none;
    background: transparent;
}
.THIS .slick-prev:hover,
.THIS .slick-prev:focus,
.THIS .slick-next:hover,
.THIS .slick-next:focus
{
    color: transparent;
    outline: none;
    background: transparent;
}
.THIS .slick-prev:hover:before,
.THIS .slick-prev:focus:before,
.THIS .slick-next:hover:before,
.THIS .slick-next:focus:before
{
    opacity: 1;
}
.THIS .slick-prev .slick-disabled:before,
.THIS .slick-next .slick-disabled:before
{
    opacity: .25;
}

.THIS .slick-prev:before,
.THIS .slick-next:before
{
    font-family: 'slick';
    font-size: 20px;
    line-height: 1;

    opacity: .75;
    color: white;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.THIS .slick-prev
{
    left: -25px;
}
/*[dir='rtl'] .THIS .slick-prev
{
    right: -25px;
    left: auto;
}
*/
.THIS .slick-prev:before
{
    content: '←';
}
/*[dir='rtl'] .THIS .slick-prev:before
{
    content: '→';
}

*/
.THIS .slick-next
{
    right: -25px;
}
/*[dir='rtl'] .THIS .slick-next
{
    right: auto;
    left: -25px;
}
*/
.THIS .slick-next:before
{
    content: '→';
}
/*[dir='rtl'] .THIS .slick-next:before
{
    content: '←';
}

*/
/* Dots */
.THIS .slick-dotted .slick-slider
{
    margin-bottom: 30px;
}

.THIS .slick-dots
{
    position: absolute;
    bottom: -25px;

    display: block;

    width: 100%;
    padding: 0;
    margin: 0;

    list-style: none;

    text-align: center;
}
.THIS .slick-dots li
{
    position: relative;

    display: inline-block;

    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0;

    cursor: pointer;
}
.THIS .slick-dots li button
{
    font-size: 0;
    line-height: 0;

    display: block;

    width: 20px;
    height: 20px;
    padding: 5px;

    cursor: pointer;

    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}
.THIS .slick-dots li button:hover,
.THIS .slick-dots li button:focus
{
    outline: none;
}
.THIS .slick-dots li button:hover:before,
.THIS .slick-dots li button:focus:before
{
    opacity: 1;
}
.THIS .slick-dots li button:before
{
    font-family: 'slick';
    font-size: 6px;
    line-height: 20px;

    position: absolute;
    top: 0;
    left: 0;

    width: 20px;
    height: 20px;

    content: '•';
    text-align: center;

    opacity: .25;
    color: black;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.THIS .slick-dots li .slick-active button:before
{
    opacity: .75;
    color: black;
}